
<div class="jumbotron">
      <div class="container">
        <h3>Update Task</h3>
        <p></p>
      </div>
</div>

<div class="container">
	<%= simple_form_for @task do |f| %>
	  <%= f.input :taskName, label: "Task Name", required: true %>
	  <%= f.input :seqNo, label: "Sequence No" , required: true %>
	  <%= f.button :submit, "Save", class: "btn btn-primary" %>
	  <%= f.button :button, "Cancel", type: :reset, class: "btn btn-none" %>
	<% end %>
</div>